body {
    background-color: #06d629;
    color:rgb(170, 169, 169);
    font-family: "Bai jamjuree"; sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0;
}

button {
    background-color: #d64806;
    color:rgb(0, 0, 0);
    font-family: "Bai jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
display: block;
}

main {
    text-align: center ;
    max: width 90%;
}

img{
    max-width: 90%;
}